.display-inline-flex{
  display: inline-flex;
  align-items: center;
  gap: 15px;
}

.display-space-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.display-flex{
  display: flex;
}
.justify-center{
  justify-content: center;
}
.align-items-center{
  align-items: center;
}
.flex-column{
  flex-direction: column;
}
.flex-row{
  flex-direction: row;
}

.grid-2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
}

.grid-3{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
}

.grid-4{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem;
}

.gap-1rem{
  gap: 1rem;
}
